In [1]:
import pandas as pd
import os

In [2]:
import os
os.getcwd()

'C:\\Users\\User x\\Documents\\python class'

In [3]:
os.listdir('C:\\Users\\User x\\Documents\\python class')

['.ipynb_checkpoints',
 'Cleaning and EDA.ipynb',
 'file (1) (1) (1).csv',
 'imdb_top_1000.csv',
 'Olist_dataset',
 'Olist_project.ipynb',
 'python note.ipynb',
 'Python Project.ipynb']

In [4]:
folder_path = "olist dataset"

In [5]:
import pandas as pd
import os

folder_path = "Olist_dataset"

dataframes = {}

for file in os.listdir('Olist_dataset'):
    if file.endswith(".csv"):
        full_path = os.path.join(folder_path, file)
        df = pd.read_csv(full_path)
        name = file.replace(".csv", "")
        dataframes[name] = df
print(dataframes.keys())

dict_keys(['olist_customers_dataset', 'olist_geolocation_dataset', 'olist_orders_dataset', 'olist_order_items_dataset', 'olist_order_payments_dataset', 'olist_order_reviews_dataset', 'olist_products_dataset', 'olist_sellers_dataset', 'product_category_name_translation'])

In [6]:
copy = {}

for name, df in dataframes.items():
    copy[name] = df.copy()

print("Copy created")

Copy created

In [7]:
print(len(copy))

9

#### 6 tables for analysis (orders,customers,order_items,payments,reviews,products)

In [8]:
customers = copy ['olist_customers_dataset']

In [184]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [10]:
customers.shape

(99441, 5)

In [78]:
orders = copy ['olist_orders_dataset']

In [79]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

In [13]:
orders.shape

(99441, 8)

In [14]:
Order_items = copy ['olist_order_items_dataset']

In [15]:
Order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [185]:
Order_items.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108481 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             108481 non-null  object
 1   order_item_id        108481 non-null  int64
 2   product_id           108481 non-null  object
 3   seller_id            108481 non-null  object
 4   shipping_limit_date  108481 non-null  object
 5   price                108481 non-null  float64
 6   freight_value        108481 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.6+ MB

In [16]:
Order_items.shape

(112650, 7)

In [17]:
Payments = copy ['olist_order_payments_dataset']

In [18]:
Payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [19]:
Payments.shape

(103886, 5)

In [20]:
Reviews = copy ['olist_order_reviews_dataset']

In [21]:
Reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [22]:
Reviews.shape

(99224, 7)

In [23]:
Products = copy ['olist_products_dataset']

In [24]:
Products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

## Data cleaning

#### Orders

In [80]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26

In [81]:
orders.duplicated().sum()

np.int64(0)

In [82]:
date_columns = [
    'order_purchase_timestamp',
    'order_approved_at',
    'order_delivered_carrier_date',
    'order_delivered_customer_date',
    'order_estimated_delivery_date']

for column in date_columns:
    orders[column] = pd.to_datetime(orders[column])

In [83]:
print(orders['order_purchase_timestamp'].dtype)

datetime64[ns]

In [84]:
orders['order_status'].value_counts()

order_status
delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: count, dtype: int64

In [85]:
orders = orders[orders['order_status'] == 'delivered']

In [86]:
orders = orders[
    (orders['order_purchase_timestamp'] <= orders['order_approved_at']) &
    (orders['order_approved_at'] <= orders['order_delivered_customer_date'])
]

In [87]:
orders['delivery_time_days'] = (
    orders['order_delivered_customer_date'] - orders['order_purchase_timestamp']).dt.days

orders['estimated_delivery_days'] = (
    orders['order_estimated_delivery_date'] - orders['order_purchase_timestamp']).dt.days

orders['delay_days'] = (
    orders['order_delivered_customer_date'] - orders['order_estimated_delivery_date']).dt.days

In [33]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,delivery_time_days,estimated_delivery_days,delay_days
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,8,15,-8
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,13,19,-6
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,9,26,-18
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,13,26,-13
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,2,12,-10

In [88]:
orders['purchase_year'] = orders['order_purchase_timestamp'].dt.year
orders['purchase_month'] = orders['order_purchase_timestamp'].dt.month
orders['purchase_day'] = orders['order_purchase_timestamp'].dt.day_name()

In [89]:
orders['delivery_time_days'].describe()

count    96395.000000
mean        12.098854
std          9.552518
min          0.000000
25%          6.000000
50%         10.000000
75%         15.000000
max        209.000000
Name: delivery_time_days, dtype: float64

In [90]:
orders = orders[orders['delivery_time_days'] <= 90]

In [91]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96319 entries, 0 to 99440
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       96319 non-null  object
 1   customer_id                    96319 non-null  object
 2   order_status                   96319 non-null  object
 3   order_purchase_timestamp       96319 non-null  datetime64[ns]
 4   order_approved_at              96319 non-null  datetime64[ns]
 5   order_delivered_carrier_date   96318 non-null  datetime64[ns]
 6   order_delivered_customer_date  96319 non-null  datetime64[ns]
 7   order_estimated_delivery_date  96319 non-null  datetime64[ns]
 8   delivery_time_days             96319 non-null  int64
 9   estimated_delivery_days        96319 non-null  int64
 10  delay_days                     96319 non-null  int64
 11  purchase_year                  96319 non-null  int32
 12  purchase_month                 96319 non-null  int32
 13  purchase_day                   96319 non-null  object
dtypes: datetime64[ns](5), int32(2), int64(3), object(4)
memory usage: 10.3+ MB

In [93]:
orders['customer_id'].nunique()

96319

#### Order_items

In [38]:
Order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [39]:
Order_items.duplicated(['order_id','order_item_id']).sum()

np.int64(0)

In [40]:
Order_items = Order_items[(Order_items['price'] > 0) & (Order_items['freight_value'] >= 0)]

#### Customers

In [132]:
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [133]:
customers.duplicated('customer_id').sum()

np.int64(0)

#### Products

In [43]:
Products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [44]:
Products.duplicated('product_id').sum()

np.int64(0)

In [45]:
cols = [
    'product_photos_qty',
    'product_weight_g',
    'product_length_cm',
    'product_height_cm',
    'product_width_cm']

(Products[cols] == 0).sum()

product_photos_qty    0
product_weight_g      4
product_length_cm     0
product_height_cm     0
product_width_cm      0
dtype: int64

In [46]:
Products = Products[
    (Products[cols] > 0).all(axis=1)]

#### Payments

In [145]:
Payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [146]:
Payments.duplicated('order_id').sum()

np.int64(4446)

In [147]:
Payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [111]:
Payments.duplicated().sum()

np.int64(0)

#### Reviews

In [148]:
Reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [149]:
Reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [150]:
Reviews['order_id'].value_counts().head()

order_id
c88b1d1b157a9999ce368f218a407141    3
8e17072ec97ce29f0e1f111e598b0c85    3
df56136b8031ecd28e200bb18e6ddb2e    3
03c939fd7fd3b38f8485a0f95798f1f6    3
5cb890a68b91b6158d69257e4e2bc359    2
Name: count, dtype: int64

#### Check of orphaned rows

In [169]:
orders_without_customer = orders[~orders['customer_unique_id'].isin(customers['customer_unique_id'])]
print(f"Orders without customer: {len(orders_without_customer)}")

Orders without customer: 0

In [166]:
payments_without_order = Payments[~Payments['order_id'].isin(orders['order_id'])]
print(f"Payments without order: {len(payments_without_order)}")

Payments without order: 0

In [167]:
reviews_without_order = Reviews[~Reviews['order_id'].isin(orders['order_id'])]
print(f"Reviews without order: {len(reviews_without_order)}")

Reviews without order: 0

In [168]:
items_without_product = Order_items[~Order_items['product_id'].isin(Products['product_id'])]
print(f"Items without product: {len(items_without_product)}")

Items without product: 0

In [179]:
items_without_order = Order_items[~Order_items['order_id'].isin(Orders['order_id'])]
print(f"Order items without matching order: {len(items_without_order)}")

Order items without matching order: 0

In [195]:
orders_without_items = Orders[~Orders['order_id'].isin(Order_items['order_id'])]
print(f"Orders without any items: {len(orders_without_items)}")

Orders without any items: 1336

In [178]:
Order_items = Order_items[Order_items['order_id'].isin(Orders['order_id'])]

In [161]:
Payments = Payments[Payments['order_id'].isin(orders['order_id'])]

In [162]:
Reviews = Reviews[Reviews['order_id'].isin(orders['order_id'])]

In [163]:
Order_items = Order_items[Order_items['product_id'].isin(Products['product_id'])]

In [189]:
Orders_clean = Orders[Orders['order_id'].isin(Order_items['order_id'])]

In [191]:
orders_without_items = Orders[~Orders['order_id'].isin(Order_items['order_id'])]

In [192]:
Orders_clean = Orders[
    Orders['order_id'].isin(Order_items['order_id'])
].copy()

print(f"Clean Orders count: {len(Orders_clean)}")

Clean Orders count: 94983

In [164]:
customers['customer_unique_id'] = customers['customer_unique_id'].astype(str).str.strip()

In [165]:
orders['customer_unique_id'] = orders['customer_unique_id'].astype(str).str.strip()

In [158]:
print(orders['customer_unique_id'].nunique())

93202

In [159]:
print(customers['customer_unique_id'].nunique())

96096

In [193]:
print(Order_items['order_id'].nunique())

94983

In [194]:
print(Orders_clean['order_id'].nunique())

94983

#### Exporting

In [63]:
customers.to_csv('customers.csv', index=False)
Products.to_csv('products.csv', index=False)
Order_items.to_csv('order_items.csv', index=False)

In [170]:
orders.to_csv('orders.csv', index=False)
Reviews.to_csv('Reviews.csv', index=False)
Payments.to_csv('Payments.csv', index=False)
customers.to_csv('customers.csv', index=False)
Order_items.to_csv('order_items.csv', index=False)

In [180]:
Order_items.to_csv('order_items.csv', index=False)

In [138]:
os.listdir('C:\\Users\\User x\\Documents\\python class')

['.ipynb_checkpoints',
 'Cleaning and EDA.ipynb',
 'customers.csv',
 'file (1) (1) (1).csv',
 'imdb_top_1000.csv',
 'Olist_dataset',
 'Olist_project.ipynb',
 'orders.csv',
 'Payments.csv',
 'python note.ipynb',
 'Python Project.ipynb',
 'Reviews.csv']

In [95]:
orders = orders.drop_duplicates('order_id')

In [96]:
orders.to_csv('orders.csv', index=False)

In [176]:
Customers_clean.to_csv('Customers_clean.csv', index=False)

In [196]:
Orders_clean. to_csv('Orders_clean.csv',index=False)

In [134]:
Customers = customers.drop_duplicates('customer_id')

In [135]:
Customers['customer_unique_id'].duplicated().sum()

np.int64(3345)

In [136]:
Customers.to_csv('customers.csv', index=False)

In [172]:
customers_counts = customers['customer_unique_id'].value_counts()
print(customers_counts[customers_counts > 1])

customer_unique_id
8d50f5eadf50201ccdcedfb9e2ac8455    17
3e43e6105506432c953e165fb2acf44c     9
1b6c7548a2a1f9037c1fd3ddfed95f33     7
ca77025e7201e3b30c44b472ff346268     7
6469f99c1f9dfae7733b25662e7f1782     7
                                    ..
370cd3b09ea745fe047fd11db7430441     2
d7c6bdf20c4ec9c9cda815dde58e778a     2
a366793a4999f8cc135855c4dd347421     2
156283b6ca35ef976a0265903145fd5e     2
d83257348027bd8c59a228cc034de5e3     2
Name: count, Length: 2997, dtype: int64

In [173]:
Customers_clean = customers.drop_duplicates(subset=['customer_unique_id'])

In [175]:
orders_without_customer = orders[~orders['customer_unique_id'].isin(Customers_clean['customer_unique_id'])]
print(len(orders_without_customer))

0

In [197]:
Reviews_agg

                               order_id  review_score
0      00010242fe8c5a6d1ba2dd792cb16214           5.0
1      00018f77f2f0320c557190d7a144bdd3           4.0
2      000229ec398224ef6ca0657da4fc703e           5.0
3      00024acbcdf0a6daa1e931b038114c75           4.0
4      00042b26cf59d7ce69dfabb4e55b4fd9           5.0
...                                 ...           ...
98668  fffc94f6ce00a00581880bf54a75a037           5.0
98669  fffcd46ef2263f404302a634eb57f7eb           5.0
98670  fffce4705a9662cd70adb13d4a31832d           5.0
98671  fffe18544ffabc95dfada21779c9644f           5.0
98672  fffe41c64501cc87c801fd61db3f6244           5.0

[98673 rows x 2 columns]

In [199]:
Reviews_agg['order_id'].nunique() == len(Reviews_agg)

True

In [200]:
Reviews_agg.to_csv('Reviews_agg.csv', index=False)